<!DOCTYPE html>
<html>
<head>
    <title>Task Tracker</title>
</head>
<body>
    <h1>Welcome to task tracker!</h1>

    <form method="POST">
        <input type="text" name="task" placeholder="Enter a new task..."/>
        <button type="submit">Add Task</button>
    </form>

    <ol>{% for task in task_list %}
            <li>{{task['description']}}
                    <form method="POST" action="{{url_for('delete',id_num=task['id'])}}">
                        <button type="submit">Delete Task</button>
                    </form>
                    {% if not task['completed'] %}
                    <form method="POST" action="{{url_for('complete',id_num=task['id'])}}">
                    <label>
                        <button type="submit">Submit completion</button>
                    </label>
                    </form>
                    {% else %}
                        <h3>&check; Completed</h3>
                    {% endif %}
            </li>
        {% endfor %}
    </ol>
</body>
</html>